<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
		integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
		rel="stylesheet" />
	<!-- CSS -->
	<link rel="stylesheet" href="/styles/content.css">
	<link rel="stylesheet" href="/styles/layout.css">

	<title>
		<%= title %>
	</title>
</head>

<body>
	<header>
		<div class="logo">
			<p><i class="fa-regular fa-comment-dots"></i>B;og Web</p>
		</div>
		<nav>
			<ul>
				<li><a href="/">HOME</a></li>
				<% if (!locals.clickedAdd) { %>
					<li><a href="/addpost">ADD POST</a></li>
					<% } %>
			</ul>
		</nav>
	</header>
	<main></main>
</body>

</html>